*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background: #F2F3F5;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.btnBlue{
    background: #4ABADB !important;
    border: none !important;
}
/*  */
.van-search{
    padding: 5px 10px !important;
}
.van-search input::placeholder{
    font-size: 0.7rem;
}
.van-search .van-cell{
    background: #F0F0F0 !important;
}
.mu-bottom-nav{
    height: 48px;
    font-size: 0.5rem;
}
.mu-bottom-nav-shift-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.mu-bottom-item{
    min-width: 20% !important; 
    padding: 3px 6px;
}
.van-popup{
    overflow: hidden;
}
.datePop .van-popup{
    z-index: 5500 !important;
}
.datePop .van-modal{
    z-index: 5000 !important;
}
.weekadd_card .container .van-cell,.weekadd_card .van-panel__footer{
    padding: 2px 15px;
    font-weight: 700;
}
/****/
.van-tab--active{
    color: #4ABADB !important;
}
.van-tabs__nav--card .van-tab,.van-tabs__nav--card{
    border-color: rgba(74, 186, 219,0.5) !important;
    color: #333 !important;
}
.van-tabs__nav--card .van-tab.van-tab--active,.van-tabs__line{
    background: #4ABADB !important;
    color: #fff !important;
}
.van-tag{
    padding: 0.1em 0.5em !important;
    color: #fff !important;
}

/*  */
.mu-picker{
    width: 85vw;
}
