/* @import '//fonts.useso.com/css?family=Roboto:300,400,500,700,400italic'; */
/* @import 'http://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css'; */

*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background: #F2F3F5;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 暂无内容 */
.empty-content-tip{
    color: #999;
    font-size: 0.8rem;
    text-align: center;
    padding: 4px 0;
}
.btnBlue{
    background: #00c1de !important;
    border: none !important;
}
/*  */
.van-search{
    padding: 5px !important;
}
.van-search input::placeholder{
    font-size: 0.7rem;
}
.van-search .van-cell{
    background: #F0F0F0 !important;
}
.mu-bottom-nav{
    height: 48px;
    font-size: 0.5rem;
}
.mu-bottom-nav-shift-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.mu-bottom-item{
    min-width: 20% !important; 
    padding: 3px 6px;
}
.van-popup{
    overflow: hidden;
}
.datePop .van-popup{
    z-index: 5500 !important;
}
.datePop .van-modal{
    z-index: 5000 !important;
}
.weekadd_card .container .van-cell,.weekadd_card .van-panel__footer{
    padding: 2px 15px;
    font-weight: 700;
}

/**van tabs**/
.van-tab--active{
    color: #00c1de !important;
}
.van-tabs__nav--card{
    border-radius: 5px !important;
    overflow:hidden;
}
.van-tabs__nav--card .van-tab,.van-tabs__nav--card{
    border-color: rgba(74, 186, 219,0.5) !important;
    color: #00c1de !important;
}
.van-tabs__nav--card .van-tab.van-tab--active,.van-tabs__line{
    background: #00c1de !important;
    color: #fff !important;
}
.van-tag{
    padding: 0.1em 0.5em !important;
    color: #fff !important;
}
.van-checkbox__icon--checked .van-icon{
    background-color: #00c1de !important;
    border-color: #00c1de !important;
}
/*van actionsheet  */
.van-actionsheet__header{
    border-bottom: #999999 !important;
}
/* 右箭头 */
.van-icon-arrow{
    color: #999999;
    font-weight: 700 !important;
}
/* van cell */
.van-cell__title{
    font-weight: 700;
    color:#333333;
}
.van-radio__input{
    font-size:16px !important;
 }
 /* 问题关闭 */
 .close-hjgxr .van-field__control{
   text-align: center;      
}
 /* 
   问题 筛选
 */
.assistant-filtercondition-list .van-hairline--surround::after{
    border: none;
}




/* ping fen */
.reply-close-fwzl .van-icon{
    color: rgb(247, 186, 42) !important;
    font-size: 16px !important; 
}



/*
**  我的
*/
.mu-picker{
    width: 85vw;
}
.van-cell__value{
    flex: 2 !important;
}
.mine-footer .van-cell__title{
    display: flex;
    align-items: center;
}

/* 设置内容 img */
.question-content img{
   max-width: 100%;
}
