@text-color:#4376FF;
@fontSize:0.7rem;
@bg-active-wy:#F19000;
@bg-active-yy:rgb(123, 202, 109);
@bg-active-wd:rgb(87, 168, 140);
@background-active-wy:#FEF8EE;
@flex:flex;
@spacearoung:'space-around';
@spacebetween:'space-between';
@color:#909090;
@border:1px solid #ccc;
@border-ef:1px solid #efefef;
