@text-color:#4376FF;
@fontSize12:0.75rem;
@fontSize14:0.9rem;
@fontSize16:1rem;
@fontSize18:1.11rem;
@fontSize20:1.25rem;
@bg-active-wy:#F19000;
@bg-active-yy:rgb(123, 202, 109);
@bg-active-wd:rgb(87, 168, 140);
@background-active-wy:#FEF8EE;
@flex:flex;
@spacearoung:'space-around';
@spacebetween:'space-between';
@color:#909090;
@border:1px solid #E8E8E8;
@border-ef:1px solid #efefef;
@fontWeight:700;
@baseColor:#00c1de;
// #4ABADB;



.flex(@row:flex-start,@col:flex-start,@column:row){
    display: flex;
    justify-content: @row;
    align-items: @col;
    flex-direction: @column;
}
.flexGrid(@column:row){
    display:flex;
    flex-direction: @column;  
}
.flex_col(@num:1){

    flex: @num 0 0 !important;  
}
.floatRight{
    float:right;
}
.textalign(@type:center){
    text-align: @type
}
.assistant-back{
    position: fixed;
    bottom: 6vh;
    right: 1vw;
    button{
        font-size: @fontSize14;
    }
    hr{
        border: none;
        border-bottom:1px solid #fff;
        margin: 4px 0;
    }
}
.commitButton {
    background: @baseColor;
}
.cancelButton{
    background: #E8E8E8;
}
.operate-btn{
    display: @flex;
    justify-content: space-around;
    margin-top: 4.333333vh;
    div {
      width: 48%;
      button {
        width: 100%;
        border: none;
      }
    }
}
.text-ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    button{
        width: 100%;
        border: none !important;
        margin: 0.1rem 0.3rem;
    }
}
// 修改承诺结束日期(actionsheet)
.actionsheet-operate{
    height: 40vh;
    background: #fff;
   footer{
     width: 100vw;
     position: absolute;
     bottom: 0;
   }
 }

// 滚动内容 (xiangmu,wenti )
.layout-scroll{
  height: calc(100vh - 155px);
  overflow-y: auto;
  margin-top: 5px;
}
.layout-scroll-center{
  height: 100%;
  overflow-y: auto;
}

.active-color-orange{
    background: rgba(255, 66, 24, 0.2); 
    color: rgba(255, 66, 24,1) !important;  
}
.active-color-green{
    background: rgba(68, 187, 0,0.3); 
    color: rgba(68, 187, 0,1) !important; 
}
.active-color-blue{
    background: rgb(25, 137, 250);   
}

.color999{
    color: #999999;
}